@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

#todoLs {
	@apply max-h-[500px] overflow-y-auto mt-5;
}

#todoLs li {
	@apply flex justify-between items-center ps-4 pe-2 py-2 rounded-lg bg-slate-900 text-white mt-5;
}

#todoLs li:first-child {
	@apply mt-0;
}

#todoLs li span {
	@apply w-[75%] sm:w-[55%] text-wrap text-lg break-words overflow-x-auto;
}

#todoLs li div {
	@apply flex flex-col sm:flex-row justify-end gap-2;
}

#todoLs li div button {
	@apply bg-green-800 text-white p-2 rounded-md flex items-center justify-center w-[60px] h-[40px];
}

#todoLs li div button:nth-child(2) {
	@apply bg-yellow-800;
}

#todoLs li div button:last-child {
	@apply bg-red-700;
}

#editInput {
	@apply border-b-2 border-gray-400 outline-0 px-1 w-[75%] sm:w-[55%] bg-transparent;
}
